.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}